<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <!-- When deploying the service library project, the content of the config file must be added to the host's 
    app.config file. System.Configuration does not support config files for libraries. -->
    <system.serviceModel>
      <services>
        <service name="BM.BriefMakerService">
          <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
            name="NetTcpBindingEndpoint" contract="BM.IBriefMaker">
            <identity>
              <dns value="localhost" />
            </identity>
          </endpoint>
          <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
            name="MexTcpBidingEndpoint" contract="IMetadataExchange" />
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <!-- To avoid disclosing metadata information, 
            set the value below to false and remove the metadata endpoint above before deployment -->
            <serviceMetadata httpGetEnabled="False"/>
            <!-- To receive exception details in faults for debugging purposes, 
            set the value below to true.  Set to false before deployment 
            to avoid disclosing exception information -->
            <serviceDebug includeExceptionDetailInFaults="True"/>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>

  <!--connectionString="Data Source=RYANSPC\SQLEXPRESS;Initial Catalog=Focus;Integrated Security=True"-->

  <connectionStrings>
    <add name="BM.Properties.Settings.BriefsConnectionString" connectionString="Data Source=.;Initial Catalog=Focus;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BM.Properties.Settings.StreamMomentsConnectionString"
      connectionString="Data Source=.;Initial Catalog=Focus;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>-->
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <applicationSettings>
    <BM.Properties.Settings>
      <setting name="DirectBriefMakerDataSource" serializeAs="String">
        <value>net.tcp://localhost:9000/BriefMakerService</value>
      </setting>
    </BM.Properties.Settings>
  </applicationSettings>
</configuration>
